body{
    background-image: url(https://i.pinimg.com/750x/10/ca/af/10caafe142991e80eeccf5a8c30feab5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

h1{
    color: white;
    font-size: 50px;
}

a{
    color: white;
    font-size: 20px;
}